li {
    display: block;
    transition-duration: 0.5s;
   }
   
   li:hover {
    color: rgb(21, 230, 31);
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 15px;
     align-items: center;
     display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
   ul li ul li {
     clear: both;
     width: 100%;
   }
   ul{
    display: flex;
    background-color: rgb(63, 63, 151);
    align-items: center;
   }
   li{
     margin: 20px;
     color: rgb(20, 140, 220); 
   }
   a{
    text-decoration: none;
   }
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
